.jumbotron {
    background-color: rgb(13, 198, 204);
    color: black;

}


footer{
    padding: 5px 10px 1 5px;
    background-color:rgb(195, 236, 45);
    margin-bottom: 0px;
    margin-top: 10px;
}
.btn-inf{
    width: 100%;
    border-radius: 0px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.multi-collapse{
    flex: 1 150px;
    padding:2px 5px 2px 5px;
}

.footer-address-icon{
    padding-right: 10px;

}

.tab-contect{
    padding-top: 10px;
}